<%- include('header') %>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Animal Adoption</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/homepage">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dogs">Dogs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cats">Cats</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">More</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="/create_animal">Release New Animal</a>
                    <a class="dropdown-item" href="#">Sign up</a>
                    <a class="dropdown-item" href="#">Log in</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid" style="margin-top: 3.5em;">
    <div class="card-header">
        <h1 class="text-center">Animal Page</h1>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle"
                             <%const path = animals.Image%>
                                <% const imagePath = path.substring(6,path.length)%>
                             src="<%= imagePath %>"
                             alt="Animal picture">
                    </div>

                    <h3 class="profile-username text-center" style="text-transform:capitalize;"><%= animals.Type %></h3>

                    <p class="text-muted text-center" style="text-transform:capitalize;"><%= animals.Kind %></p>
                    <a href="adoption_form?<%= animals._id %>" class="btn btn-success btn-block"><b>Adopt</b></a>
                    <br>
                    <div class="row justify-content-between" style="padding-left: 1em;padding-right: 1em;">
                        <a href="#" onclick="searchByType('<%= animals.Type %>')" type="button"
                           class="badge badge-warning col-md-3"
                           style="text-transform:capitalize;"><%= animals.Type %></a>
                        <a href="#" onclick="searchByColor('<%= animals.Color %>')" type="button"
                           class="badge badge-secondary col-md-3"
                           style="text-transform:capitalize;"><%= animals.Color %></a>
                        <a href="#" onclick="searchByLocation('<%= animals.Location %>')" type="button"
                           class="badge badge-info col-md-3"
                           style="text-transform:capitalize;"><%= animals.Location %></a>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <br>
            <!-- About Me Box -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">About Me</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <strong>Animal ID</strong>

                    <p class="text-muted" style="text-transform:capitalize;">
                        <%= animals._id %>
                    </p>

                    <hr>

                    <strong>Animal Type</strong>

                    <p class="text-muted" style="text-transform:capitalize;">
                        <%= animals.Kind %>
                    </p>

                    <hr>

                    <strong>Gender</strong>

                    <p class="text-muted" style="text-transform:capitalize;">
                        <%= animals.Gender %>
                    </p>

                    <hr>

                    <strong>Animal Kind</strong>

                    <p class="text-muted" style="text-transform:capitalize;">
                        <%= animals.Kind %>
                    </p>

                    <hr>

                    <strong>Color</strong>

                    <p class="text-muted" style="text-transform:capitalize;">
                        <%= animals.Color %>
                    </p>

                    <hr>

                    <strong>Age</strong>

                    <p class="text-muted" style="text-transform:capitalize;">
                        <%= animals.Age %>
                    </p>

                    <hr>

                    <strong>Location</strong>

                    <p class="text-muted" style="text-transform:capitalize;">
                        <%= animals.Location %>
                    </p>

                    <hr>

                    <hr>

                    <strong>Vaccine</strong>

                    <p class="text-muted" style="text-transform:capitalize;">
                        <%= animals.Vaccine %>
                    </p>

                    <hr>

                    <strong>Description</strong>

                    <p class="text-muted" style="text-transform:capitalize;">
                        <%= animals.Description %>
                    </p>

                    <hr>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="card">
                <div class="card-header p-2">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Comments</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#modify" data-toggle="tab">Modify</a></li>
                    </ul>
                </div><!-- /.card-header -->
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="activity">
                            <hr>
                            <%if(animals.Comment.length>0){%>
                            <%for(let i = 0;i<animals.Comment.length;i++){%>
                            <div class="card border-dark mb-3" style="max-width: 100%;">
                                <div class="card-header"><%= animals.Comment[i].Name %></div>
                                <div class="card-body text-dark">
                                    <h5 class="card-title"><%= animals.Comment[i].Content %></h5>
                                    <p class="card-text float-right">commented - <%= animals.Comment[i].Date.toISOString().replace(/T.*/,' ')+animals.Comment[i].Date.toLocaleTimeString().replace(/ G.*/,"") %></p>
                                </div>
                            </div>
                            <%}}else{%>
                                <div class="alert alert-info" role="alert">
                                   No comments yet, be the first person to add comment!
                                </div>
                            <%}%>

                            <!-- Post -->
                            <form id="form" onsubmit="onSubmit()">
                                <div class="form-group">
                                    <textarea class="form-control" style="width: 100%" id="Comment" name="Comment" rows="3" placeholder="Add new comment"></textarea>
                                    <br>
                                    <button  type="submit" value="Submit" class="btn btn-primary float-right">Submit</button>
                                </div>
                            </form>

                            <div id="results" style="margin-top:30px"></div>
                        </div>

                        <div class="tab-pane" id="modify">
                            <form id="form" onsubmit="onModify()">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Animal ID</label>
                                        <input type="text" id="animalID" name="animalID" class="form-control" placeholder="Animal ID" value="<%=animals._id %>" disabled="true">
                                    </div>
                                    <div class="form-group">
                                        <label>Animal Type</label>
                                        <input type="text" id="Type" name="Type" class="form-control" placeholder="Animal Type" value="<%=animals.Type %>">
                                    </div>
                                    <div class="form-group">
                                        <label>Animal Gender</label><br>
                                        <select id="Gender" name="Gender" value="<%=animals.Gender %>">
                                            <option value="male">male</option>
                                            <option value="female">female</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Animal Kind</label>
                                        <input type="text" id="Kind" name="Kind" class="form-control" placeholder="Animal Kind" value="<%=animals.Kind %>">
                                    </div>
                                    <div class="form-group">
                                        <label>Animal Color</label>
                                        <input type="text" id="Color" name="Color" class="form-control" placeholder="Animal Color" value="<%=animals.Color %>">
                                    </div>
                                    <!--<div class="form-group">
                                        <label>Animal Age</label>
                                        <input type="text" id="Age" name="Age" class="form-control" placeholder="1" value="<%=animals.Age %>">
                                    </div>-->
                                    <div class="form-group">
                                        <label>Location</label>
                                        <input type="text" id="Location" name="Location" class="form-control" placeholder="London" value="<%=animals.Location%>">
                                    </div>
                                    <div class="form-group">
                                        <label>Animal Description</label>
                                        <textarea class="form-control" name="Description" rows="5" id="Description" value="<%=animals.Description %>"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label>Image Upload</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="Img" name="Img" accept="image/*">
                                                <label class="custom-file-label" for="Img">Choose file</label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="">Upload</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary" value="Submit">Modify</button>
                                </div>
                            </form>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->
            <hr>

        </div><!-- /.container-fluid -->

    </div>
</div>
<br>
<script src="/javascripts/animal_detail.js"></script>
<%- include('footer') %>
