<%- include('header') %>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Animal Adoption</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/homepage">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dogs">Dogs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cats">Cats</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="/create_animal">Release New Animal</a>
                    <a class="dropdown-item" href="#">Sign up</a>
                    <a class="dropdown-item" href="#">Log in</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid" style="margin-top: 3.5em;">
    <div class="card-header">
        <h1 class="text-center">Animal Page</h1>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle"
                             src="images/cat1.jpg"
                             alt="Animal picture">
                    </div>

                    <h3 class="profile-username text-center" style="text-transform:capitalize;"><%= animals.Type %></h3>

                    <p class="text-muted text-center" style="text-transform:capitalize;"><%= animals.Kind %></p>
                    <a href="adoption_form?<%=animals._id%>" class="btn btn-success btn-block"><b>Adopt</b></a>
                    <br>
                    <div class="row justify-content-between" style="padding-left: 1em;padding-right: 1em;">
                    <a href="#" onclick="searchByType('<%=animals.Type%>')" type="button" class="badge badge-warning col-md-3" style="text-transform:capitalize;" ><%=animals.Type%></a>
                    <a href="#" onclick="searchByColor('<%=animals.Color%>')" type="button" class="badge badge-secondary col-md-3" style="text-transform:capitalize;"><%=animals.Color%></a>
                    <a href="#" onclick="searchByLocation('<%=animals.Location%>')" type="button" class="badge badge-info col-md-3" style="text-transform:capitalize;"><%=animals.Location%></a>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <br>
            <!-- About Me Box -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">About Me</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <strong>Animal ID</strong>

                    <p class="text-muted" style="text-transform:capitalize;">
                        <%= animals._id %>
                     </p>

                    <hr>

                    <strong>Animal Type</strong>

                    <p class="text-muted" style="text-transform:capitalize;">
                        <%= animals.Kind %>
                    </p>

                    <hr>

                    <strong>Gender</strong>

                    <p class="text-muted" style="text-transform:capitalize;">
                        <%= animals.Gender %>
                    </p>

                    <hr>

                    <strong>Animal Kind</strong>

                    <p class="text-muted" style="text-transform:capitalize;">
                        <%= animals.Kind %>
                    </p>

                    <hr>

                    <strong>Color</strong>

                    <p class="text-muted" style="text-transform:capitalize;">
                        <%= animals.Color %>
                    </p>

                    <hr>

                    <strong>Age</strong>

                    <p class="text-muted" style="text-transform:capitalize;">
                        <%= animals.Age %>
                    </p>

                    <hr>

                    <strong>Location</strong>

                    <p class="text-muted" style="text-transform:capitalize;">
                        <%= animals.Location %>
                    </p>

                    <hr>

                    <hr>

                    <strong>Vaccine</strong>

                    <p class="text-muted">
                        <%if(animals.Vaccine){%>
                            Yes
                        <%}else{%>
                            No
                            <%}%>
                    </p>

                    <hr>

                    <strong>Description</strong>

                    <p class="text-muted" style="text-transform:capitalize;">
                        <%= animals.Description%>
                    </p>

                    <hr>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="card">
                <div class="card-header p-2">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Comments</a></li>
                        <li class="nav-item"><a class="nav-link" href="#modify" data-toggle="tab">Modify</a></li>
                    </ul>
                </div><!-- /.card-header -->
                <div class="card-body">
                    <div class="tab-content">
                        <div class="active tab-pane" id="activity">
                            <!-- Post -->
                            <div class="post">
                                <div class="user-block">
                                        <span class="username">
                                          <a href="#">Mike</a>
                                        </span>
                                    <span class="description"> commented - 7:30 PM today</span>
                                </div>
                                <!-- /.user-block -->
                                <p>
                                    This dog is so cute. How could I adopt it?
                                    <span class="float-right">
                                  <a data-toggle="collapse" href="#collapseExample" class="btn btn-info" style="margin-top: -2em" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Response
                                  </a>
                                  <div class="collapse" id="collapseExample">
                                  <form>
                                  <div class="form-group">
                                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                      <br>
                                      <button class="btn btn-primary float-right">Submit</button>
                                  </div>
                                  </form>
                                  </div>
                                  </span>
                                </p>
                            </div>
                            <!-- /.post -->
                        </div>

                        <div class="tab-pane" id="modify">
                            <form role="form">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Animal ID</label>
                                        <input type="text" class="form-control" placeholder="Animal ID">
                                    </div>
                                    <div class="form-group">
                                        <label>Animal Type</label>
                                        <input type="text" class="form-control" placeholder="Animal Type">
                                    </div>
                                    <div class="form-group">
                                        <label>Animal Gender</label>
                                        <select>
                                            <option value="male">male</option>
                                            <option value="female">female</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Animal Kind</label>
                                        <input type="text" class="form-control" placeholder="Animal Kind">
                                    </div>
                                    <div class="form-group">
                                        <label>Animal Color</label>
                                        <input type="text" class="form-control" placeholder="Animal Color">
                                    </div>
                                    <div class="form-group">
                                        <label>Animal Age</label>
                                        <input type="text" class="form-control" placeholder="Animal Age">
                                    </div>
                                    <div class="form-group">
                                        <label>Location</label>
                                        <input type="text" class="form-control" placeholder="London">
                                    </div>
                                    <div class="form-group">
                                        <label>Status</label>
                                        <input type="text" class="form-control" placeholder="Adopted">
                                    </div>
                                    <div class="form-group">
                                        <label>Vaccine</label>
                                        <input type="text" class="form-control" placeholder="No">
                                    </div>
                                    <div class="form-group">
                                        <label>Animal Description</label>
                                        <textarea class="form-control" rows="5" id="description"></textarea>
                                    </div>

                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div><!-- /.container-fluid -->
<br>
<script src="/javascripts/animal_detail.js"></script>
<%- include('footer') %>
