<%- include('header') %>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Animal Adoption</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Dogs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cats</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid" style="margin-top: 3.5em;">
    <div class="card-header">
        <h1 class="text-center">Animal Page</h1>
    </div>
    <div class="row">
        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle"
                             src="images/kitten7.jpeg"
                             alt="Animal picture">
                    </div>

                    <h3 class="profile-username text-center">Dog name</h3>

                    <p class="text-muted text-center"><%= animals.Kind%></p>

                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Followers</b> <a class="float-right">1,322</a>
                        </li>
                    </ul>

                    <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">About Me</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <strong>Animal ID</strong>

                    <p class="text-muted">
                        <%= animals._id %>>
                     </p>

                    <hr>

                    <strong>Animal Type</strong>

                    <p class="text-muted">
                        <%= animals.Kind%>
                    </p>

                    <hr>

                    <strong>Gender</strong>

                    <p class="text-muted">
                        <%= animals.Gender%>
                    </p>

                    <hr>

                    <strong>Animal Kind</strong>

                    <p class="text-muted">
                        <%= animals.Kind%>
                    </p>

                    <hr>

                    <strong>Color</strong>

                    <p class="text-muted">
                        <%= animals.Color%>
                    </p>

                    <hr>

                    <strong>Age</strong>

                    <p class="text-muted">
                        <%= animals.Age%>
                    </p>

                    <hr>

                    <strong>Location</strong>

                    <p class="text-muted">
                        <%= animals.Location%>
                    </p>

                    <hr>

                    <strong>Status</strong>

                    <p class="text-muted">
                        <%= animals.Status%>
                    </p>

                    <hr>

                    <strong>Vaccine</strong>

                    <p class="text-muted">
                        <%= animals.Vaccine%>
                    </p>

                    <hr>

                    <strong>Description</strong>

                    <p class="text-muted">
                        <%= animals.Description%>
                    </p>

                    <hr>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="card">
                <div class="card-header p-2">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>
                        <li class="nav-item"><a class="nav-link" href="#modify" data-toggle="tab">Modify</a></li>
                    </ul>
                </div><!-- /.card-header -->
                <div class="card-body">
                    <div class="tab-content">
                        <div class="active tab-pane" id="activity">
                            <!-- Post -->
                            <div class="post">
                                <div class="user-block">
                                        <span class="username">
                                          <a href="#">Mike</a>
                                        </span>
                                    <span class="description"> commented - 7:30 PM today</span>
                                </div>
                                <!-- /.user-block -->
                                <p>
                                    This dog is so cute. How could I adopt it?<span class="float-right">
                                  <a href="#" >
                                    Response
                                  </a>
                                        </span>
                                </p>


                                <hr>
                            </div>
                            <!-- /.post -->

                            <!-- Post -->
                            <div class="post">
                                <div class="user-block">
                                        <span class="username">
                                          <a href="#">Johnson</a>
                                        </span>
                                    <span class="description"> commented - 5:30 PM today</span>
                                </div>
                                <!-- /.user-block -->
                                <p>
                                    <%= animals.Comment.content%><span class="float-right">
                                  <a href="#" >
                                    Response
                                  </a>
                                        </span>
                                </p>

                                <hr>
                            </div>
                            <!-- /.post -->
                        </div>

                        <div class="tab-pane" id="modify">
                            <form role="form">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Animal ID</label>
                                        <input type="text" class="form-control" placeholder="Animal ID">
                                    </div>
                                    <div class="form-group">
                                        <label>Animal Type</label>
                                        <input type="text" class="form-control" placeholder="Animal Type">
                                    </div>
                                    <div class="form-group">
                                        <label>Animal Gender</label>
                                        <select>
                                            <option value="male">male</option>
                                            <option value="female">female</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Animal Kind</label>
                                        <input type="text" class="form-control" placeholder="Animal Kind">
                                    </div>
                                    <div class="form-group">
                                        <label>Animal Color</label>
                                        <input type="text" class="form-control" placeholder="Animal Color">
                                    </div>
                                    <div class="form-group">
                                        <label>Animal Age</label>
                                        <input type="text" class="form-control" placeholder="Animal Age">
                                    </div>
                                    <div class="form-group">
                                        <label>Location</label>
                                        <input type="text" class="form-control" placeholder="London">
                                    </div>
                                    <div class="form-group">
                                        <label>Status</label>
                                        <input type="text" class="form-control" placeholder="Adopted">
                                    </div>
                                    <div class="form-group">
                                        <label>Vaccine</label>
                                        <input type="text" class="form-control" placeholder="No">
                                    </div>
                                    <div class="form-group">
                                        <label>Animal Description</label>
                                        <textarea class="form-control" rows="5" id="description"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label>Image Upload</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="exampleInputFile">
                                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="">Upload</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                    </div>
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div><!-- /.container-fluid -->
<br>
<%- include('footer') %>
